{% extends "base_login.html" %}
{% block title %}회원가입{% endblock %}
{% block content %}
<div id="form" class="signup">
    <form action="{{ url_for('auth.create_user') }}" method="post" autocomplete="off">
        {{ form.csrf_token }}
        <h1 class="title">회원가입</h1>
        <div class="input_wrap">
            <div class="input_box">
                <label for="signup_id">아이디</label>
                {{ form.id(id="signup_id") }}
            </div>
            <div class="input_box">
                <label for="signup_password">비밀번호</label>
                {{ form.password(id="signup_password") }}
            </div>
            <div class="input_box">
                <label for="signup_username">이름</label>
                {{ form.username(id="signup_username") }}
            </div>
            <div class="input_box">
                <label for="signup_phonenumber">휴대전화</label>
                {{ form.phonenumber(placeholder="- 없이 입력", id="signup_phonenumber") }}
            </div>
            <div class="input_box">
                <label for="signup_email">이메일</label>
                {{ form.email(id="signup_email") }}
            </div>
        </div>
        <div class="btn_box type_02">
            <a href="{{ url_for('auth.login') }}">뒤로가기</a>
            {{ form.submit() }}            
        </div>
    </form>
</div>
{% endblock %}